{{!< default}}
{{> "site-header"}}
<main class="container" role="main">

    {{! Include the post loop - partials/loop.hbs }}
    <div class="row">
        <div class="col-md-9">
            {{> "loop"}}
        </div>
    </div>
</main>
