{{!< default}}

{{> "site-header"}}

{{#post}}
<section class="container">

  <section class="row">
    <section class="col-md-12">
        <h2>{{title}}</h2>
        <hr>
        {{content}}
        <hr>
    </section>
  </section>
</section>
{{/post}}
