@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

@import 'bootstrap';
@import 'clean-blog';
@import 'united';

img {
	width: 100%;
}

.tags > a {
	background-color: #2C3E50 !important;
	padding: 3px 10px;
	margin: 3px;
	border-radius: 10px;
}

.img-logo {
	width: 150px;
	margin: 10px auto 10px auto;
}

.panel-post {
	text-align: center;
	> .panel-body {
		min-height: 300px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: fixed;
		background-attachment: center;
		background-origin: center;
	}
}