@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 40px;
font-style: normal;
}.flaticon-facebook2:before {
	content: "\e000";
}
.flaticon-github10:before {
	content: "\e001";
}
.flaticon-instagram19:before {
	content: "\e002";
}
.flaticon-internet54:before {
	content: "\e003";
}
.flaticon-linkedin:before {
	content: "\e004";
}
.flaticon-professional5:before {
	content: "\e005";
}
.flaticon-slideshare3:before {
	content: "\e006";
}
.flaticon-twitter:before {
	content: "\e007";
}
